[submodule "TOC"]
	path = TOC
	url = https://github.com/zhengzhu14/TOC.git
[submodule "2º/TOC"]
	path = 2º/TOC
	url = https://github.com/zhengzhu14/TOC.git
[submodule "2º/IS2/GrupoA-2-Secta"]
	path = 2º/IS2/GrupoA-2-Secta
	url = https://github.com/serjim06/GrupoA-2-Secta.git
